body > *[selected="true"] {
    display: block;
}

body {
    margin: 0;
    height: 480px;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > div,
body > form,
body > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 92px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
}

body > ul > li {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    background: no-repeat right center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

body > ul > li > a {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}

.panel {
    box-sizing: border-box;
    padding: 10px;
    background: #c8c8c8
}

.dialog {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 468px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    text-align: left;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin: 6px 0 0 0;
    padding: 6px 6px 6px 6px;
    font-size: 16px;
    font-weight: normal;
}

table {
	border: 1px solid grey;
    width: 100%;
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 6px;
}

button {
	font-size: 16px;
}

nav {
	background-color: #000000;
	height: 50px;
}

nav > #item {
	height: auto;
	width: auto;
	margin-top: 4px;
	margin-left: 5px;
	float: left;
}
